/* CSS */
/* Rule */
/* declaration is a property and value */

body {
    display : grid ;
    height : 100vh;
    place-items: center;
  }
  
  main {
    background : #657aa0 ;
    width : 400px ;
    padding: 16px;
    border-radius: 8px;
    transition: transform 1s;
  }
  
  img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  
  div {
    text-align: center;
  }
  
  main:hover {
    /*   background: red; */
    box-shadow : 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    transform : scale(1.25);
  }
  